<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Orders</h2>
		</div>
	</div>
	<br />
	<br />
	<table id="orderTable" class="table table-bordered table-striped text-center" style="width:100%">
		<thead>
			<tr>
				<th style="width:20%">Order ID</th>
				<th style="width:30%">User Email</th>
				<th style="width:20%">Create Date</th>
				<th style="width:20%">Status</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts{
	<script src="~/js/order.js"></script>
}